.footer {
  width: 100%;
  padding: 20px 40px;
  background: var(--color-white);
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
  text-transform: uppercase;
}

.footer__logo {
  font-family: var(--playfair-display);
  font-size: 24px;
  font-weight: 600;
}

.footer__logo span {
  color: var(--primary-color);
}

.footer ul {
  gap: 64px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer ul:last-child {
  gap: 32px;
}

.footer__nav li {
  font-size: 16px;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  color: var(--secondary-color);
  font-family: var(--plus-jakarta-sans);
}

.footer__social li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background: var(--secondary-color);
  border-radius: 100%;
  cursor: pointer;
}

.footer__social a img{
  width: 45%;
  height: 45%;
  object-fit: contain;
}